* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    width: 100%;
}

body {
    background-image: url("../images/background.png");
    width: 100%;
}

body::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    background-color: #666666;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    list-style: none;
    float: right;
    margin-top: 30px;
}

li {
    display: inline-block;
    padding-left: 10px;
    border-left: 2px solid #cccccc;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #999999;
}

.heading--content {
    width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading--list__first {
    border: none;
}

#profile {
    width: 270px;
    float: left;
}

#myname {
    display: inline-block;
    padding: 20px 30px 20px 30px;
    background-color: #4aaaa5;
    color: #ffffff;
}